@charset "UTF-8";

@font-face {
    font-family: 'Sriracha';
    src: url('fonts/Sriracha-Regular.ttf') format('truetype');
  }
 
@font-face {
    font-family: 'PassionOne';
    src: url('fonts/PassionOne-Regular.ttf') format('truetype');
}  

@font-face {
    font-family: 'PassionOneBold';
    src: url('fonts/PassionOne-Bold.ttf') format('truetype');
}

:root {
    --font1: 'Sriracha';
    --font2: "PassionOne";
    --font3: "PassionOneBold";
}


* {
  margin: 0px; 
  padding: 0px;
}

header {
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 5vh 0vh 5vh 0vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75vw;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 10vw;
    font-family: var(--font3);
    font-variant: small-caps;

}

header > p {
    color: white;
    text-align: center;
}

header > p > a {
    text-decoration: none;
    color: white;
}

header > p > a:hover {
    text-decoration: underline;
    color: white;
}

main {
    text-align: left;
    font-size: 3.7vw;
}

section {
    padding: 10vh 0vh 15vh 0vh;
    position: relative;
    font-family: var(--font1);
}

section > p {
    margin: 30px 0px 30px 50px;
}

#a1 {
    background-color: white;
    background-size: cover;
}

#a2 {
    background-image: url("imagens/background001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

#a3 {
    background-color: white;
    background-size: cover;
}

#a4 {
    background-image: url("imagens/background002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


#a5 {
    background-color: white;
    background-size: cover;
}

.fundo {
    max-width: max-content;
    color: white;
    background-color: #00000079;
    margin-left: 3vh;
}

.fundo > p {
    margin-left: 0.8vh;
    margin-right: 0.8vh;
}

  footer {
    font-size: 0.9vw;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0.7vh 0vh 0.7vh 0vh;
  }

  footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  footer > p > a:hover {
    text-decoration: underline;
  }