* {
  margin: 0px;  
}

header {
    
    width: 98vh;
    background-color: #000000;
}

header > h1 {
    color: white;
    text-align: center;
}

header > p {
    color: white;
    text-align: center;
}

header > a {
    color: white;
    text-decoration: none;
    text-align: center;
}

header > a:link:active, a:visited:active {
    color: white;
  }